{% extends 'base.html' %}
{{block.super}}
{% block content %}    
    <div class="container-fluid">                
        <div class="row" style="padding: 0 10px;">            
            <div class="col-md-4">            
                <!-- Announcements section-->
                <div class="head"  style="width: fit-content; background-color: white; position:absolute; margin-left: 40px;">
                    <h6 style="padding:0 10px; color: green;">Announcements</h6>
                </div>
                <div class="container" style="background-color: #ecfad2; margin-top: 15px;">                  
                  <div class="container" style="border-radius: 5px; height: 250px; max-height:235px; padding-top: 25px; overflow-y: scroll;">
                    
                    <!--loop -->
                        <a href="{% url 'announce' %}" style="color: black;">
                            <div class="card" style="height: fit-content;">
                                <h5 style="padding:0 5px; color: green; font-weight:bold;">First announcement</h5>
                                <p style="padding-left: 35px;">Small truncate details of anno..</p>
                                <p style="padding-left:55%;"> -<span style="font-weight:bold;">Annoying neighbour</span></p>                        
                            </div>
                        </a>                
                        <hr>
                    <!-- endloop -->

                  </div>  
                </div>
                
                <br>

                <!-- Meetings section -->
                <div class="head"  style="width: fit-content; background-color: white; position:absolute; margin-left: 40px;">
                    <h6 style="padding:0 10px; color: green;">Meetings</h6>
                </div>
                <div class="container" style="background-color:  #f8ffdaf3;; margin-top: 15px;">                  
                  <div class="container" style="border-radius: 5px; height: 200px; max-height:190px; padding-top: 25px; overflow-y: scroll;">
                  
                    <!--loop -->
                    <a href="{% url 'meeting' %}" style="color: black;">
                        <div class="card" style="height: fit-content;">
                            <h5 style="padding:0 5px; color: green; font-weight:bold;">Meeting reminder</h5>
                            <p style="padding-left: 35px;">Small truncate details of meet..</p>
                            <p style="display: inline-block; padding: 10px;"> Venue:<span style="font-weight:bold;padding-right:20px; ">Kwa neighbour</span> -<span style="font-weight:bold;">Annoying neighbour</span></p>                                                    
                        </div>
                    </a>                
                    <hr>
                    <!-- endloop -->

                  </div>  
                </div>
            </div>            

            <!-- Blog content-->
            <div class="col-md-4">
                <br>
                <div class="container" style="height: 470px; background-color: #ecfad2; max-height: 460; overflow-y: scroll;">
                    
                    <!--loop -->
                    <a href="{% url 'blog' %}" style="color: black;"><div class="card" style="height: fit-content">
                        <div class="img">
                            <h4 style="position: absolute; color: white; padding: 15px;">Phase5 complete!!</h4>
                        </div>                                                
                        <div class="card-body">                            
                            <p style="padding-left: 15px;">The much awaited phase5 is now complete. Furnishing is on...</p>
                            <p style=" padding-right:55px;"> - <span style="font-weight:bold;">Annoying neighbour</span></p>                        
                        </div>
                    </div></a>
                    <!-- endloop -->

                </div>               
            </div>      

            <!-- Esssentials section -->
            <div class="col-md-4">            
                <br>                
                <div class="head"  style="width: fit-content; position:absolute; margin-left: 40px; background-color: white;">
                    <h6 style="padding:0 10px; color: rgb(155, 118, 32);">Essentials</h6>
                </div>
                <div class="container" style="background-color:#f8ffdaf3; margin-top: 15px;">                  
                  <div class="container" style="border-radius: 5px; height: 200px; max-height:190px;padding-top: 20px; overflow-y: scroll;">                    

                    <!--loop -->
                    <a href="{% url 'essential' %}" style="color: black;">
                        <div class="card" style="height: fit-content;">
                            <h5 style="padding:0 5px; color: green; font-weight:bold;">Hospital now open</h5>
                            <p style="padding-left: 35px;">Small truncate details of essen..</p>                            
                        </div>
                    </a>                
                    <hr>
                    <!-- endloop -->

                  </div>  
                </div>

                <br>

                <!-- Business section -->
                <div class="head"  style="width: fit-content; background-color: white; position:absolute; margin-left: 40px;">
                    <h6 style="padding:0 10px; color: rgb(143, 124, 19);">Business</h6>
                </div>
                <div class="container" style="background-color: #ecfad2 ; margin-top: 15px;">                  
                  <div class="container" style="border-radius: 5px; height: 200px; max-height:190px; padding-top: 20px; overflow-y: scroll;">
                   
                    <!--loop -->
                    <a href="{% url 'business' %}" style="color: black;">
                        <div class="card" style="height: fit-content;">
                            <h5 style="padding:0 5px; color: green; font-weight:bold;">Do you want fresh farm produce?</h5>
                            <p style="padding-left: 35px;">Small truncate details of busi..</p>                            
                        </div>
                    </a>                
                    <hr>
                    <!-- endloop -->

                  </div>  
                </div>
                                
            </div>
        </div>
    </div>
    <style>
        .img {
            background: linear-gradient(to top,  transparent, hsla(0, 0%, 6%, 0.479)) , url(https://images.unsplash.com/photo-1524813686514-a57563d77965?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80);    
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 250px;
        }        
    </style>
{% endblock %}